@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.slider::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
.slider::-webkit-scrollbar-thumb {
  background: transparent;
}